@layout('layouts.default')

@section('content')

	@set('posts', posts.toJSON())

	<div class="box">
		<div class="section">
			
			@if(posts.data.length)

				@each(post in posts.data)

					@include('forum.partials._post')

				@endeach

				@!component('common/_pagination', pagination = posts)

			@else

				<article class="message is-info">
					<div class="message-body">
						There are posts to display
					</div>
				</article>

			@endif

		</div>
	</div>

@endsection